<div ng-controller="homeController">
    <div class="container" style="padding-top:20px;">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <form>
                <div class="form-group">
                    <label for="twitterHandle">User</label>
                    <input type="text" class="form-control" id="twitterHandle" placeholder="@twitter handle here" ng-model="twitterHandle">
                </div>
                <div class="form-group">
                    <select class="form-control" id="selectNumber" ng-model="numberTweets">
                        <option value="" selected hidden>Number of top tweets to display</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Go <i class="glyphicon glyphicon-arrow-right"></i></button>
            </form>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
           <div ng-bind-html="getEmbedHtml"></div>
        </div>
    </div>
</div>
